<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Today List</title>
	<link rel="stylesheet" href="/assets/styles.css">
	<script src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script>
		// Login to the website
		function loginUser() {
			var email    = $('#form-login--email').val();
			var password = $('#form-login--password').val();

			var formData = {};
			formData.email = email;
			formData.password = password;

			if (email != '' && password != '') {
				$.ajax({
					url: 'http://localhost:3000/api/auth',
					data: JSON.stringify(formData),
					contentType: 'application/json',
					method: 'POST',
					success: function(data) {
						console.log(data);
					},
					error: function(xhr) {
						var data = xhr.responseJSON;
						$('#error-msg').text(data.error + ': ' + data.message);
					}
				});
			}

			// Email and password was not provided
			else {
				$('#error-msg').text('Email and password are required');
			}

			return false;
		}

		// Set focus on email input on load
		$(function() {
			$('#form-login--email').focus();
		});
	</script>
</head>
<body>
	<div id="wrapper">
		<header>
			<h1>Today List :)</h1>
		</header>
		<div id="login">
			<form name="login" id="form-login" onsubmit="return loginUser()">
				<h2>Login</h2>
				<p id="error-msg"></p>
				<div class="control">
					<label for="email">Email Address:</label>
					<input type="text" name="email" id="form-login--email" placeholder="john.doe@gmail.com">
				</div>
				<div class="control">
					<label for="password">Password:</label>
					<input type="password" name="password" id="form-login--password">
				</div>
				<button type="submit">Login</button>
				<p class="forgot-password">Forgot your password?  That sucks.</p>
			</form>
		</div>
	</div>
</body>
</html>